/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 31-01-2015, 17:38:13
    Author     : thuat
*/
.listtest {
    list-style: none;
    position: relative;
    padding: 20px 0 20px;
}
.listtest li {
    margin-bottom: 20px;
}
.listtest li:last-child {
    margin-bottom: 0px;
}
.media-heading a{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
